{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
/*
    Configuração eslint
    Utilizado para que o projeto siga algumas regras e padrões de código
    - https://khalilstemmler.com/blogs/typescript/eslint-for-typescript/
    - https://eslint.org/docs/rules/
  */
